.row {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.container {
  padding: 1rem;
  /* box-shadow: 0px 0px 110px #181f23; */
}



/* style={{ width: "18rem", boxShadow: '0px 0px 110px #181f23'  }} */